<div class="columns medium-12">
  <fieldset>
    <legend>
    </legend>
    <div class="row">
      <div class="columns medium-3">
        <input type="text" name="warehouse_from_id" ng-model="shipmentsSearch.warehouse_from_id" placeholder="From" />
      </div>
      <div class="columns medium-3">
        <input type="text" name="warehouse_to_id" ng-model="shipmentsSearch.warehouse_to_id" placeholder="To" />
      </div>
      <div class="columns medium-3">
        <input type="text" name="status" ng-model="shipmentsSearch.status" placeholder="Status" />
      </div>
      <div class="columns medium-3">
        <input type="text" name="transportation" ng-model="shipmentsSearch.trasportation" placeholder="Transportation" />
      </div>
    </div>
    <div class="row">
      <div class="columns medium-4">
        <button class="button tiny" ng-click="paging.first()"><i class="fi-zoom"></i>Search</button>
        <button class="button tiny" ng-click="clean()"><i class="fi-zoom"></i>Reset</button>
      </div>
    </div>
  </fieldset>
</div>

<table width="100%">
  <thead>
    <tr>
      <th><a href="" ng-click="newMaster()" ><i class="fi-plus"></i></a></th>
      <th>ID</th>
      <th>Invoice</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th>Trans</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="shipment in shipments">
      <td></td>
      <td>{{ shipment.id }}</td>
      <td>{{ shipment.invoice }}</td>
      <td>{{ shipment.warehouse_from_id }}</td>
      <td>{{ shipment.warehouse_to_id }}</td>
      <td>{{ shipment.status }}</td>
      <td>{{ shipment.transportation }}</td>
      <td>{{ shipment.updated_at }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="pagination-centered">
    <ul class="pagination columns medium-12">
      <li ng-show="paging.hasPrePage()" class="arrow left columns medium-1"><a class="button" href="" ng-click="paging.goPrePage()">&laquo; Prev</a></li>
      <div class="columns medium-10"></div>
      <li ng-show="paging.hasNextPage()" class="arrow columns medium-1"><a class="button" href="" ng-click="paging.goNextPage()">Next  &raquo;</a></li>
    </ul>
  </div>
</div>

<div id="newMaster" class="reveal-modal" data-reveal>
  <h4>New Shipment Order</h4>
  <div class="row">
    <div class="columns medium-3">
      <select name="warehouse_to_id" ng-model="newMaster.warehouse_to_id" ng-options="warehouse.id as warehouse.name for warehouse in warehouseLists">
        <option value="">-- From --</option>
      </select>
    </div>
    <div class="columns medium-3">
      <select name="warehouse_from_id" ng-model="newMaster.warehouse_from_id" ng-options="warehouse.id as warehouse.name for warehouse in warehouseLists">
        <option value="">-- To --</option>
      </select>
    </div>
    <div class="columns medium-3">
      <input type="text" name="invoice" ng-model="newMaster.invoice" placeholder="Invoice" />
    </div>
    <div class="columns medium-3">
      <input type="text" name="currency" ng-model="newMaster.currency" placeholder="Currency" />
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <input type="text" name="exchange_rate" ng-model="newMaster.exchange_rate" placeholder="Exchange" />
    </div>
    <div class="columns medium-3">
      <select name="transportation" ng-model="newMaster.transportation" ng-options="transportation in transportationLists">
      </select>
    </div>
    <div class="columns medium-3">
      <select name="status" ng-model="newMaster.status" ng-options="status in statusLists">
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <button class="button tiny" ng-click="drop()">Submit</button>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
