<div class="row">
	<div class="col col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title">库存日志</h3></div>

			<div class="panel-body">
				<form name="searchForm">
					<div class="container-fluid">
						<div class="row">
							<div class="col col-sm-2">
								<div class="form-group">
									<select name="warehouse" ng-model="logsSearch.warehouse" class="form-control" ng-options="warehouse.name for warehouse in warehouseLists"></select>
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<select name="type" ng-model="logsSearch.type" class="form-control" ng-options="type as type.name group by type.category for type in typeLists"></select>
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="from" ng-model="logsSearch.updated_from" class="form-control" datepicker-popup="yyyy-MM-dd" placeholder="From">
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="to" ng-model="logsSearch.updated_to" class="form-control" datepicker-popup="yyyy-MM-dd" placeholder="To">
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="item" ng-model="logsSearch.item" class="form-control" typeahead="item as item.sku for item in itemLists | filter: {sku: $viewValue} | limitTo:10" placeholder="SKU">
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="relation_id" ng-model="logsSearch.relation_id" class="form-control" placeholder="关联ID">
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="description" ng-model="logsSearch.description" class="form-control" placeholder="描述">
								</div>
							</div>
							<div class="col col-sm-2">
								<div class="form-group">
									<input type="text" name="agent" ng-model="logsSearch.agent" class="form-control" placeholder="操作人">
								</div>
							</div>
							<div class="col col-sm-4">
								<div class="form-group">
									<button type="button" class="btn btn-primary" ng-click="paging.first()">搜索</button>
									<button type="button" class="btn btn-default" ng-click="cleanSearch()">重置</button>
								</div>
							</div>
						</div>
					</div>
				</form>

				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>SKU</th>
							<th>仓库</th>
							<th>数量</th>
							<th>采购价</th>
							<th>PI价</th>
							<th>时间</th>
							<th>操作人</th>
							<th>类别</th>
							<th>关联ID</th>
							<th>关联编号</th>
							<th>描述</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="log in logs">
							<td>{{ log.item.sku }}</td>
							<td>{{ log.warehouse.name }}</td>
							<td>{{ log.qty }}</td>
							<td>{{ log.inventory.rmbprice }}</td>
							<td>{{ log.inventory.pi_price }}</td>
							<td>{{ log.created_at }}</td>
							<td>{{ log.agent }}</td>
							<td>{{ log.type }}</td>
							<td>{{ log.inventory.restock.invoice }}</td>
							<td>{{ log.relation.relation_invoice }}</td>
							<td>{{ log.description }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="18">
								<ul class="pager">
									<li class="previous" ng-show="paging.hasPrePage()"><a href="javascript:;" ng-click="paging.goPrePage()">上一页</a></li>
									<li class="next" ng-show="paging.hasNextPage()"><a href="javascript:;" ng-click="paging.goNextPage()">下一页</a></li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>