<fieldset>
	<legend>库存查询</legend>
	<div class="row">
		<div class="large-2 columns">
			<div class="form-group">
				<select ng-model="invsSearch.warehouse" class="form-control" ng-options="warehouse.name for warehouse in warehouseLists">
					<option value="">== 全部仓库 ==</option>
				</select>
			</div>
		</div>
		<div class="large-2 columns left">
			<div class="form-group">
				<input type="text" name="item" ng-model="invsSearch.item" class="form-control" placeholder="SKU" typeahead="item as item.sku for item in itemLists | filter: {sku: $viewValue} | limitTo: 10" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-1 columns">
			<h6>Stocked</h6>
		</div>
		<div class="large-1 columns left">
			<div class="form-group">
				<div class="switch small">
					<input id="status.stocked" type="checkbox" ng-model="invsSearch.status.stocked" ng-checked="true" />
					<label for="status.stocked"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-1 columns">
			<h6>Onroad</h6>
		</div>
		<div class="large-1 columns left">
			<class class="form-group">
				<div class="switch small">
					<input id="status.onroad" type="checkbox" ng-model="invsSearch.status.onroad" ng-checked="true" />
					<label for="status.onroad"></label>
				</div>
			</class>
		</div>
	</div>
	<div class="row">
		<div class="large-8 columns">
			<div class="form-group">
				<button type="button" class="button tiny" ng-click="paging.first()">
					搜索
				</button>
			</div>
		</div>
	</div>
</fieldset>

<table width="100%">
	<thead>
	<tr>
		<th>SKU</th>
		<th>实际数量</th>
		<th>Book</th>
		<th>可用数量</th>
		<th>库存状态</th>
		<th>渠道</th>
		<th>仓库</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="inventory in inventories">
		<td>{{ inventory.item.sku }}</td>
		<td>{{ inventory.all_qty }}</td>
		<td>{{ inventory.book_qty }}</td>
		<td>{{ inventory.all_qty - inventory.all_book_qty }}</td>
		<td>{{ inventory.status }}</td>
		<td>{{ inventory.platform.name }}</td>
		<td>{{ inventory.warehouse_id }}</td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="18">
			<ul class="pager">
				<li class="previous" ng-show="paging.hasPrePage()"><a href="javascript:;" ng-click="paging.goPrePage()">上一页</a></li>
				<li class="next" ng-show="paging.hasNextPage()"><a href="javascript:;" ng-click="paging.goNextPage()">下一页</a></li>
			</ul>
		</td>
	</tr>
	</tfoot>
</table>