<h3>出入库单明细</h3>

<div class="row">
	<div class="large-3 columns">
		<ul class="pricing-table">
			<li class="title">基本信息</li>
			<li class="bullet-item">{{ order.invoice }}</li>
			<li class="bullet-item">{{ order.relation_invoice }}</li>
			<li class="bullet-item">{{ order.agent }}</li>
			<li class="bullet-item">{{ order.created_at }}</li>
			<li class="bullet-item">{{ order.warehouse_id }}</li>
			<li class="bullet-item">{{ order.type }}</li>
			<li class="cta-button">
				<button ng-show="!order.status" type="button" class="button tiny" ng-click="stockIn()">Stock In All</button>
				<a class="button tiny" href="#/stock/io/lists">返回</a>
			</li>
		</ul>


	</div>
	<div class="large-9 columns">
		<table width="100%">
			<thead>
			<tr>
				<th>SKU</th>
				<th>描述</th>
				<th>入库数量</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="detail in order.details">
				<td class="col-sm-2">{{ detail.item.sku }}</td>
				<td class="col-sm-6">{{ detail.item.description }}</td>
				<td class="col-sm-2">{{ detail.qty }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>