<fieldset>
	<legend>采购单明细</legend>
	<div class="row">
		<div class="large-3 columns">
			<h6>Invoice</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.invoice" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Status</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.status" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Currency</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.currency" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Warehouse</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.warehouseName" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">
			<h6>Vendor</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.vendorName" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Discount</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.discount" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Total</h6>
			<div class="form-group">
			<input disabled type="text" ng-model="order.total" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Invoice Rate</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.invoice_rate" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">
			<h6>Tax Rate</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.tax_rate" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Payment Method</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.payment_method" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Payment Dates</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.payment_dates" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Payment Terms</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.payment_terms" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-3 columns">
			<h6>Price Type</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.price_type" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns">
			<h6>Delivery Date</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.delivery_date" class="form-control" />
			</div>
		</div>
		<div class="large-3 columns left">
			<h6>Currency Rate</h6>
			<div class="form-group">
				<input disabled type="text" ng-model="order.currency_rate" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h6>Ship To</h6>
			<textarea disabled ng-model="order.ship_to"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h6>Note</h6>
			<textarea disabled ng-model="order.note"></textarea>
		</div>
	</div>
</fieldset>

<table width="100%">
	<thead>
	<tr>
		<th>SKU</th>
		<th>描述</th>
		<th>数量</th>
		<th>单位</th>
		<th ng-show="order.price_type == 'normal'">不含税单价</th>
		<th ng-show="order.price_type == 'tax'">含税单价</th>
		<th ng-show="order.price_type == 'usd'">USD单价</th>
		<th>折扣</th>
		<th>小计</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="detail in order.details">
		<td>{{ detail.item.sku }}</td>
		<td>{{ detail.item.description }}</td>
		<td>
			<div class="form-group">
				<input type="text" name="qty" ng-model="detail.allQty" ng-pattern="/^[0-9]+$/" class="form-control" required>
			</div>
		</td>
		<td>{{ detail.um }}</td>
		<td ng-show="order.price_type == 'normal'">{{ detail.unit_price }}</td>
		<td ng-show="order.price_type == 'tax'">{{ detail.tax_unit_price }}</td>
		<td ng-show="order.price_type == 'usd'">{{ detail.usd_unit_price }}</td>
		<td>{{ detail.discount }}</td>
		<td>{{ detail.allTotal - detail.discount }}</td>
	</tr>
	</tbody>
</table>

<button type="button" class="button tiny" ng-click="update()" ng-show="order.status == 'pending'">Save</button>
<button type="button" class="button tiny" ng-show="order.status == 'pending'" ng-click="confirm()">Confirm</button>
<button type="button" class="button tiny" ng-show="order.status == 'confirmed'" ng-click="unconfirm()">Unconfirm</button>
