<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>蓝帜进销存管理系统 V2.0</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css" />
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
  <link rel="stylesheet" href="bower_components/foundation-icon-fonts/foundation-icons.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css" />
</head>
<body ng-app="laravelUiApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="header ng-cloak">
      <nav class="top-bar " data-topbar data-options="" ng-show="show()" ng-controller="NavbarCtrl" >
        <ul class="title-area">
          <li class="name">
            <h1><a href="#/home">ERP 2.0</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            
            <li class="divider"></li>

            <li ng-class="{active: routeIs('/home')}"><a href="#/">仪表盘</a></li>
            
            <li class="divider"></li>
            
            <li class="has-dropdown">
              <a href="#">产品管理</a>
              <ul class="dropdown">
                <li><a href="#/item">产品列表</a></li>
                <li><a href="#/item/upload">上传新产品</a></li>
                <li><a href="#/item/image">上传图片</a></li>
                <li class="divider"></li>
                <li><a href="#/item/customs">关税</a></li>
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/item/category')}"><a href="#/item/category">分类管理</a></li>
                <li ng-class="{active: routeIs('/item/language')}"><a href="#/item/language">语言管理</a></li>
                <li ng-class="{active: routeIs('/item/attribute')}"><a href="#/item/attribute">属性管理</a></li>
                <li class="divider"></li>
              </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/purchase')}">
              <a href="javascript:;">采购管理</a>
              <ul class="dropdown">
                <li ng-class="{active: routeIs('/purchase/request/list')}"><a href="#/purchase/request/list"><i class="fi-send"></i> 申购单填写</a></li>
                <li ng-class="{active: routeIs('/purchase/request/audit')}"><a href="#/purchase/request/audit"><i class="glyphicon glyphicon-ok-circle"></i> 申购单审核</a></li>
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/purchase/plan')}"><a href="#/purchase/plan"><i class="glyphicon glyphicon-compressed"></i> 采购计划</a></li>
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/purchase/order/exec')}"><a href="#/purchase/order/exec">采购执行</a></li>
                <li ng-class="{active: routeIs('/purchase/ship')}"><a href="#/purchase/ship">调度计划执行</a></li>
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/purchase/order/lists')}"><a href="#/purchase/order/lists">采购单</a></li>
                <!-- <li ng-class="{active: routeIs('/purchase/mergeOrder')}"><a href="#/purchase/mergeOrder">合并采购单</a></li> -->
                <!-- <li class="divider"></li> -->
                <!-- <li ng-class="{active: routeIs('/purchase/return')}"><a href="#/purchase/return">采购退货单</a></li> -->
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/purchase/vendor')}"><a href="#/purchase/vendor"><i class="fi-torsos"></i> 供应商列表</a></li>
                <li ng-class="{active: routeIs('/purchase/quotation')}"><a href="#/purchase/quotation"><i class="fi-torsos-all"></i> 供应商报价</a></li>
                <li ng-class="{active: routeIs('/purchase/default')}"><a href="#/purchase/default"><i class="fi-database"></i> SKU的默认值</a></li>
                <li ng-class="{active: routeIs('/purchase/costparams')}"><a href="#/purchase/costparams"><i class="fi-widget"></i> 运费系数</a></li>
              </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/inventory')}">
              <a href="#">库存管理</a>
              <ul class="dropdown">
	              <li ng-class="{active: routeIs('/inventory/nowday')}"><a href="#/inventory/nowday">库存查询</a></li>
	              <li ng-class="{active: routeIs('/inventory/changes')}"><a href="#/inventory/changes">库存明细</a></li>
                <!--<li ng-class="{active: routeIs('/inventory/query')}"><a href="#/inventory/query">库存查询</a></li>
                <li ng-class="{active: routeIs('/inventory/detail')}"><a href="#/inventory/detail">库存明细</a></li>-->
                <li ng-class="{active: routeIs('/inventory/summary')}"><a href="#/inventory/summary">库存报表</a></li>
                <li ng-class="{active: routeIs('/inventory/log')}"><a href="#/inventory/log">库存日志</a></li>
                <li ng-class="{active: routeIs('/inventory/book')}"><a href="#/inventory/book">库存BOOK日志</a></li>
                <li class="divider"></li>
                <li class="disabled" ng-class="{active: routeIs('/inventory/allot')}"><a href="javascript:;">库存调拨</a></li><!--#/inventory/allot-->
                <li class="disabled" ng-class="{active: routeIs('/inventory/allog')}"><a href="javascript:;">库存调拨日志</a></li><!--#/inventory/allog-->
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/inventory/io')}"><a href="#/inventory/io">出入库明细报表</a></li>
                <li ng-class="{active: routeIs('/inventory/balance')}"><a href="#/inventory/balance">仓库出入库平衡表</a></li>
                <li class="divider"></li>
                <li ng-class="{active: routeIs('/inventory/search')}"><a href="#/inventory/search">出入库查询(打印)</a></li>
              </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/warehouse')}">
                <a href="#">仓储管理</a>
                <ul class="dropdown">
                    <li ng-class="{active: routeIs('/warehouse/list')}"><a href="#/warehouse/list">仓库列表</a></li>
                    <li ng-class="{active: routeIs('/warehouse/IOList')}" class="dropdown" >
                        <a href="#/warehouse/IOList" >出入库单列表</a>    
                        <ul class="dropdown">
                            <li><a href="#/warehouse/IOList/out">出库单</a></li>
                            <li><a href="#/warehouse/IOList/in">入库单</a></li>
                        </ul>               
                    </li>
                    <li ng-class="{active: routeIs('/warehouse/otherIOInventory')}"><a href="#/warehouse/otherIOInventory">其他出入库单</a></li>  
                    <li class="divider"></li>               
                    <li ng-class="{active: routeIs('/warehouse/counting')}"><a href="#/warehouse/counting">仓库盘点</a></li>                    
                    <li ng-class="{active: routeIs('/warehouse/rmaList')}"><a href="#/warehouse/rmaList">RMA回库</a></li>
                    <li ng-class="{active: routeIs('/warehouse/dispatch')}"><a href="#/warehouse/dispatch">仓库调度</a></li>

	                <li class="divider"></li>
	                <li ng-class="{active: routeIs('/stock/purchase/lists')}"><a href="#/stock/purchase/lists">待采购入库单</a></li>

	                <li class="divider"></li>
	                <li ng-class="{active: routeIs('/stock/io/lists')}"><a href="#/stock/io/lists">出入库单日志</a></li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/system')}">
                <a href="#">系统管理</a>
                <ul class="dropdown">
                    <li ng-class="{active: routeIs('/platform')}"><a href="#/platform">平台管理</a></li>
                    <li ng-class="{active: routeIs('/system/channel')}"><a href="#/system/channel">渠道管理</a></li>
                    <li class="divider"></li>
                    <li ng-class="{active: routeIs('/system/users')}"><a href="#/system/users">用户管理</a></li>
                    <li ng-class="{active: routeIs('/system/groups')}"><a href="#/system/groups">用户组管理</a></li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/ship')}">
                <a href="#">发货</a>
                <ul class="dropdown">
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">Prepare Orders</a></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">Packing List</a></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">Labels</a></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">Tracking</a></li>
                    <li class="divider"></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">Prepare规则</a></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">运输方式</a></li>
                    <li ng-class="{active: routeIs('/ship')}"><a href="#/ship">SKU发货规则</a></li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="has-dropdown" ng-class="{active: routeIs('/profile')}">
                <a href="javascript:;">我的账号</a>
                <ul class="dropdown">
                  <li ng-class="{active: routeIs('/help')}"><a href="#/help"><i class="fi-info"></i> 关于蓝志进销存管理系统</a></li>
                  <li class="divider"></li>
                  <li><a ng-click="logout()" href="javascript:;"><span class="fi-power"></span> 退出系统</a></li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="has-form"><a href="#" class="button"><i class="fi-telephone"></i> 帮助</a></li>

            <li class="divider"></li>

          </ul>
        </section>
      </nav>
      
      </div>

      <div class="row">
        <div class="large-12 columns" ng-view=""></div>
      </div>

      <!-- Subscribe to all flash messages. -->
      <div class="row">
        <div class="columns large-12">
          <div flash-alert active-class="in" class="alert-box data-alert alert fade fixed" duration="0">
            <span class="alert-message">{{flash.message}}</span>
            <a href="javascript:;" class="close" ng-click="hide()">&times;</a>
          </div>
        </div>
      </div>

      <footer class="row ng-cloak">
        <div class="columns large-12">
          <div class="row">
            <div class="columns large-6">
              <p>© 版权所有 Hisgadget.com</p>
            </div>
            <div class="columns large-6">
              <ul class="inline-list right">
                <li><a href="#">关于蓝帜</a></li>
                <li><a href="#">销售团队</a></li>
                <li><a href="#">仓库团队</a></li>
                <li><a href="#">客服中心</a></li>
              </ul>
          </div>
        </div>
      </footer>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/angular-flash/dist/angular-flash.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/react/react.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/erp.2.0.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/services/cache.js"></script>
    <script src="scripts/services/message.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/meta.js"></script>
    <script src="scripts/controllers/pr.js"></script>
    <script src="scripts/controllers/pp.js"></script>
    <script src="scripts/controllers/ppe.js"></script>
    <script src="scripts/directives/validnumber.js"></script>
    <script src="scripts/controllers/pre.js"></script>
    <script src="scripts/controllers/prv.js"></script>
    <script src="scripts/controllers/pra.js"></script>
    <script src="scripts/directives/whlist.js"></script>
    <script src="scripts/directives/praudit.js"></script>
    <script src="scripts/filters/timer.js"></script>
    <script src="scripts/controllers/poec.js"></script>
    <script src="scripts/controllers/pvq.js"></script>
    <script src="scripts/controllers/pv.js"></script>

	<script src="scripts/controllers/purchase/order/lists.js"></script>
	<script src="scripts/controllers/purchase/order/show.js"></script>
    <script src="scripts/controllers/inventory/log/nowday.js"></script>
    <script src="scripts/controllers/inventory/log/changes.js"></script>
    <script src="scripts/controllers/stock/purchase/lists.js"></script>
    <script src="scripts/controllers/stock/purchase/show.js"></script>
    <script src="scripts/controllers/stock/io/lists.js"></script>
    <script src="scripts/controllers/stock/io/show.js"></script>
    <script src="scripts/services/paging.js"></script>
    <script src="scripts/controllers/pvd.js"></script>
    <script src="scripts/directives/jqueryuidatepicker.js"></script>
    <script src="scripts/filters/warehouse.js"></script>
    <script src="scripts/filters/agent.js"></script>
    <script src="scripts/filters/vendor.js"></script>
    <script src="scripts/controllers/pcp.js"></script>
    <script src="scripts/directives/batchUpload.js"></script>
    <script src="scripts/directives/exportButton.js"></script>
    <script src="scripts/directives/code.js"></script>
    <script src="scripts/filters/fee.js"></script>
    <script src="scripts/directives/prView.js"></script>
    <script src="scripts/filters/quotation.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">$(document).foundation();</script>

  </body>
  </html>
