<div class="columns medium-12">
  <fieldset>
    <legend>Ask Lists</legend>
    <div class="row">
      <div class="columns medium-3">
        <input type="text" name="item_id" ng-model="asksSearch.item_id" placeholder="Item" />
      </div>
      <div class="columns medium-3">
        <input type="text" name="from_platform_id" ng-model="asksSearch.from_platform_id" placeholder="Platform" />
      </div>
      <div class="columns medium-3">
        <select name="warehouse_id" ng-model="asksSearch.warehouse_id" ng-options="warehouse.id as warehouse.name for warehouse in warehouseLists">
          <option value="">-- Warehouse --</option>
        </select>
      </div>
      <div class="columns medium-3">
        <select name="status" ng-model="asksSearch.status" ng-options="status for status in statusLists">
          <option value="">-- Status --</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-4 left">
        <button class="button tiny" ng-click="paging.first()"><i class="fi-zoom"></i>Search</button>
        <button class="button tiny" ng-click="clean()"><i class="fi-zoom"></i>Reset</button>
      </div>
    </div> 
  </fieldset>
</div>
<table width="100%">
  <thead>
    <tr>
      <th><a href="" data-reveal-id="myModal" ng-click="showModal()"><i class="fi-plus"></i></a></th>
      <th>ID</th>
      <th>Platform</th>
      <th>Warehouse</th>
      <th>Item</th>
      <th>Qty</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, ask) in asks">
      <td>
        <a ng-show="asks[key].status == 'pending'" href="" ng-click="confirm(key)"><i class="fi-check"></i></a>
        <a ng-show="asks[key].status == 'pending'" href="" ng-click="modify(key)"><i class="fi-page-delete"></i></a>
        <a ng-hide="_asks[key].item_id == asks[key].item_id && _asks[key].qty == asks[key].qty && _asks[key].from_platform_id == asks[key].from_platform_id" href="" ng-click="rollback(key)"><i class="fi-refresh"></i></a>
        <a ng-show="asks[key].status == 'pending'" href="" ng-click="remove(key)"><i class="fi-x"></i></a>
      </td>
      <td>{{ ask.id }}</td>
      <td><input type="text" ng-model="asks[key].from_platform_id" ng-model="asks[key].item_id" ng-readonly="asks[key].status != 'pending'" /></td>
      <td>{{ ask.warehouse_id }}</td>
      <td><input type="text" ng-model="asks[key].item_id" ng-readonly="asks[key].status != 'pending'" /></td>
      <td><input type="text" ng-model="asks[key].qty" ng-model="asks[key].item_id" ng-readonly="asks[key].status != 'pending'" /></td>
      <td>{{ ask.status }}</td>
      <td>{{ ask.updated_at }}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="pagination-centered">
    <ul class="pagination columns medium-12">
      <li ng-show="paging.hasPrePage()" class="arrow left columns medium-1"><a class="button" href="" ng-click="paging.goPrePage()">&laquo; Prev</a></li>
      <div class="columns medium-10"></div>
      <li ng-show="paging.hasNextPage()" class="arrow columns medium-1"><a class="button" href="" ng-click="paging.goNextPage()">Next  &raquo;</a></li>
    </ul>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal>
  <h4>Add the Record</h4>

  <div class="row">
    <div class="columns medium-3">
      <input type="text" name="item_id" ng-model="askRecord.item_id" placeholder="Item" />
    </div>
    <div class="columns medium-3">
      <input type="text" name="from_platform_id" ng-model="askRecord.from_platform_id" placeholder="Platform" />
    </div>
    <div class="columns medium-3">
      <select name="warehouse_id" ng-model="askRecord.warehouse_id" ng-options="warehouse.id as warehouse.name for warehouse in warehouseLists">
        <option value="">-- Warehouse --</option>
      </select>
    </div>
    <div class="columns medium-3">
      <input type="text" name="qty" ng-model="askRecord.qty" placeholder="Quantity" />
    </div>
  </div>
  <div class="row">
    <div class="columns medium-3">
      <button class="button tiny" ng-click="append()">Add</button>
    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
