<div class="container-fluid">
  <div class="row">
    <br><br>

    <div class="col col-sm-5">
      <div class="panel panel-primary">

        <div class="panel-heading">Login Form</div>

        <div class="panel-body">
          <div class="container-fluid">
            <form name="loginForm" class="pure-form pure-form-stacked">
              <div class="form-group pure-control-group" ng-class="{'has-error': loginForm.username.$invalid}">
                <label for="username">Email address</label>
                <input type="email" class="form-control" name="username" placeholder="Enter email" required ng-model="input.username">
              </div>
              <div class="form-group pure-control-group" ng-class="{'has-error': loginForm.password.$invalid}">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required ng-model="input.password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="input.remember"> Remember me?
                </label>
              </div>
              <button type="submit" class="btn btn-primary pure-button pure-button-primary" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>