<div class="panel callout">
  <h5>蓝帜进销存管理系统 2.0版</h5>
  <p>欢迎进入，目前已经开通测试的功能</p>
  <table>
    <thead>
      <tr>
        <th>模块</th>
        <th>菜单</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>产品管理</td>
        <td>产品列表</td>
      </tr>
    </tbody>
  </table>
</div>

<date-picker name="bitch"></date-picker>

<div class="input-append date datepicker" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input class="span2" size="16" type="date" value="12-02-2012">
  <span class="add-on"><i class="fa fa-th"></i></span>
</div>