<fieldset>
  <legend>采购计划执行</legend>

  <div class="row">
    <div class="columns medium-4">
      <div class="form-group">
        <select name="plan_id" class="form-control" ng-model="searchform.plan_id" required  ng-options="p.id as p.name for p in plans">
          <option value="">--所属计划表--</option>
        </select>
      </div>
    </div>

    <div class="columns medium-4">
      <div class="form-group">
        <select name="warehouse" ng-model="searchform.warehouse_id"
          ng-options="wh.id as wh.name for wh in whs"
          class="form-control" placeholder="需求仓库">
          <option value="">--需求仓库--</option>
        </select>
      </div>
    </div>

    <div class="columns medium-4">
      <div class="form-group">
        <select name="transportation"
          ng-model="searchform.transportation" class="form-control"
          ng-options="t.name as t.name for t in trans">
          <option value="">--运输方式--</option>
        </select>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="columns medium-4">
      <div class="form-group">
        <select name="price_type" ng-model="searchform.price_type"
          class="form-control"
          ng-options="x.name as x.name for x in taxs">
          <option value="">--含税与否--</option>
        </select>
      </div>
    </div>

    <div class="columns medium-4">
      <div class="form-group">
        <input type="text" name="vendor" ng-model="searchform.vendor"
          class="form-control"
          typeahead="v as v.code+'('+v.name+')' for v in vendors | filter:$viewValue | limitTo: 10"
          typeahead-editable='false'
          placeholder="供应商名字或者代码">
      </div>
    </div>

    <div class="columns medium-4">
      <div class="form-group">
        <input type="text" name="sku" ng-model="searchform.sku"
          class="form-control"
          typeahead="i as i.sku for i in skus | filter:{sku: $viewValue} | limitTo: 10"
          typeahead-editable='false' placeholder="SKU" />

      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-6">

      <a dropdown-toggle="#adjust-div" class="button tiny dropdown">调整采购量</a>
      <ul id="adjust-div" class="f-dropdown">
        <li><a href="javascript:;" ng-click="changeMutilDetailQty('middle')">按照装箱数四舍五入</a></li>
        <li><a href="javascript:;" ng-click="changeMutilDetailQty('up')">按照装箱数向上</a></li>
        <li><a href="javascript:;" ng-click="changeMutilDetailQty('down')">按照装箱数向下</a></li>
      </ul>

      <button class="button tiny success" ng-click="preActionToMakeOrder()">生成采购单</button>

    </div>
  </div>
</fieldset>

<table width="100%" >
  <thead>
    <tr >
      <th><input type="checkbox" id="all" ng-click="checkall()"/></th>
      <th>供应商</th>
      <th>SKU</th>
      <th>需求仓库</th>
      <th>渠道订单</th>
      <th><span tooltip="运输方式">运输</span></th>
      <th><span tooltip="需求数量">需求</span></th>
      <th><span tooltip="最小装箱数">SPQ</span></th>
      <th width="70"><span tooltip="调整后需求数">调整</span></th>
      <th><span tooltip="期初库存">期初</span></th>
      <th width="70"><span tooltip="最终采购量">终</span></th>
      <th><span tooltip="是否含税采购">税</span></th>
      <th width="70">单价</th>
      <th>总金额</th>
      <th>帐期(天)</th>
    </tr>
  </thead>
  <tbody>
    
    <tr ng-repeat="detailx in plandetails | filter: search">
      <td class="check-list">
        <input type="checkbox" name="{{detailx.id}}" ng-model="selectRepeatData[$index]" value="{{detailx.id}}"  ng-change="toggleAddData(detailx.id,$index)" />
      </td>
      <td ng-class="{'has-error':!(detailx.vendor&&detailx.vendor.id)}"><input title="{{detailx.vendor.name}}" type="text" typeahead-on-select="updateDataAfterChangedVendor(detailx)" name="vendor_d" id="vendor_d" ng-model="detailx.vendor" class="form-control input-sm vendor_sure" typeahead="v as v.abbreviation for v in vendors  | filter:$viewValue | limitTo: 10" placeholder="Type Name or Code" ></td>
      <td title="{{detailx.item.description}}">{{detailx.item.sku}}</td>
      <td><span name="warehouse_idd" class="warehouse_sure">{{detailx.warehouse.name}}</span>
      <td><span class="order_sure">{{detailx.relation_id}}</span></td>
      <td><select name="transportation_d" id="transportation_d" ng-model="detailx.transportation" ng-options="t.name as t.name for t in trans" class="form-control input-sm" style="width:70px" ></select></td>
      <td>{{detailx.request_qty}}</td>
      <td>{{detailx.spq}}</td>
      <td ng-class="{'has-error':detailx.real_qty<1}"><input type="text" name="real_qty" id="real_qty" ng-model="detailx.real_qty" class="form-control input-sm" /></td>     
      <td>{{detailx.stock_qty}}</td>
      <td ng-class="{'has-error':detailx.to_purchase_qty<1}"><input type="text" name="to_purchase_qty" id="to_purchase_qty" ng-model="detailx.to_purchase_qty" class="form-control input-sm" /></td>
      <td  ng-class="{'has-error':!detailx.price_type}"><select name="tax_d" id="tax_d" ng-model="detailx.price_type"  style="width:70px"
              ng-options="x.name as x.name for x in taxs"  class="form-control input-sm tax_sure" >
        <option value=''>--请选择含税与否</option>
        </select ></td>
      <td  ng-class="{'has-error':detailx.unit_price<=0}"><input type="text" name="unit_price" id="unit_price" ng-model="detailx.unit_price" class="form-control input-sm" />
      </td>
      <td>{{detailx.to_purchase_qty * detailx.unit_price}}</td>
      <td>{{detailx.vendor.payment_period}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="18">
        <ul class="pager">
          <li class="previous" ng-show="hasPrePage()"><a
              href="javascript:;" ng-click="goPrePage()">&laquo; 上一页</a>
          </li>
          <li class="next" ng-show="hasNextPage()"><a
              href="javascript:;"
              ng-click="goNextPage()">下一页 &raquo;</a></li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>



<!-- Model 生成采购单的窗口 -->

<div class="reveal-modal" data-reveal-id="makeOrderFormNew">

  <a class="close-reveal-modal">&#215;</a>

  <h5>生成采购单</h5>

  <div class="panel">
    <div class="row">
      <div class="columns small-3">
        <div class="form-group"
          ng-class="{'has-error': editForm.invoice.$invalid}">
          <label class="control-label">采购单号</label>
          <input type="text" name="invoice" ng-model="order.invoice"
            class="form-control input-sm" required
            >
          <span ng-show="editForm.invoice.$error.required"
            class="help-inline">Required</span>
        </div>
      </div>

      <div class="columns small-3">
        <div class="form-group"
          ng-class="{'has-error': editForm.currency.$invalid}">
          <label class="control-label">币种</label>
          <select name="currency" ng-model="order.currency"
            class="form-control input-sm" ng-options="c for c in currencies"
             required></select>
          <span ng-show="editForm.currency.$error.required"
            class="help-inline">Required</span>
        </div>
      </div>

      <div class="columns small-3">
        <div class="form-group"
          ng-class="{'has-error': editForm.discount.$invalid}">
          <label class="control-label">折扣</label>
          <input type="text" name="discount" ng-model="order.discount"
            ng-pattern="/^\d+\.?\d*$/" class="form-control input-sm"
             required />
        </div>
      </div>

      <div class="columns small-3">
        <div class="form-group"
          ng-class="{'has-error': editForm.total.$invalid}">
          <label class="control-label">应付款</label>
          <input type="text" name="total" ng-model="order.total"
            ng-pattern="/^\d+\.?\d*$/" class="form-control input-sm"
             required>
        </div>
      </div>
    </div>

                    <div class="row">
                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.invoice_rate.$invalid}">
                      <label class="control-label">票点</label>
                      <input type="text" name="invoice_rate" class="form-control input-sm"
                        ng-model="order.invoice_rate" ng-pattern="/^\d+\.?\d*$/"
                         required>
                    </div>
                  </div>

                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.tax_rate.$invalid}">
                      <label class="control-label">税点</label>
                      <!--select name="tax_rate" class="form-control input-sm" ng-model="order.tax_rate" ng-options="r for r in rates" required ></select-->
                      <input type="text" name="tax_rate" ng-model="order.tax_rate"
                        class="form-control input-sm" ng-pattern="/^\d+\.?\d*$/"
                         required>
                    </div>
                  </div>

                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.payment_method.$invalid}">
                      <label class="control-label">账期1(付款方式)</label>
                      <input type="text" name="payment_method"
                        ng-model="order.payment_method"
                         class="form-control input-sm"
                        required>
                    </div>
                  </div>

                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.payment_dates.$invalid}">
                      <label class="control-label">帐期2</label>
                      <input type="text" name="payment_dates"
                        ng-model="order.payment_dates" ng-pattern="/^\d+$/"
                        class="form-control input-sm" 
                        required>
                    </div>
                  </div>
                </div>

                                <div class="row">

                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.payment_terms.$invalid}">
                      <label class="control-label">payment_terms</label>
                      <input type="text" name="payment_terms"
                        ng-model="order.payment_terms" class="form-control input-sm"
                        >
                    </div>
                  </div>

                  <div class="columns small-3">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.delivery_date.$invalid}">
                      <label class="control-label">交货时间</label>
                      <input type="text" datepicker-popup="yyyy-MM-dd"
                        name="delivery_date" ng-model="order.delivery_date"
                        class="form-control input-sm" >
                    </div>
                  </div>

                </div>

                                <div class="row">
                  <div class="columns small-12">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.ship_to.$invalid}">
                      <label class="control-label">送货地址</label>

                      <textarea name="ship_to" class="form-control input-sm"
                        ng-model="order.ship_to"
                        >
                    </textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="columns small-12">
                    <div class="form-group"
                      ng-class="{'has-error': editForm.note.$invalid}">
                      <label class="control-label">备注</label>
                      <textarea name="note" class="form-control input-sm"
                        ng-model="order.note"
                        ></textarea>
                    </div>
                  </div>
                </div>

  </div>

  <table width="100%">
    <thead>
      <tr>
        <th width="120px">SKU</th>
        <th>调整后需求量</th>
        <th>期初库存</th>
        <th>采购数量</th>
        <th>参考单价</th>
        <th>总价</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="detailsel in SysMakedOrderDetail">
        <td>{{detailsel.item.sku}}</td>
        <td>{{detailsel.real_qty}}</td>
        <td>{{detailsel.stock_qty}}</td>
        <td>{{detailsel.to_purchase_qty}}</td>
        <td>{{detailsel.unit_price}}</td>
        <td>{{getTotal(detailsel)}}</td>
    </tbody>
  </table>

  <button type="button" class="button tiny success" ng-click="makeOrder()">确定</button>
    
    
</div>