<div class="row">
  <div class="columns large-4">
    <div class="panel">
      
      <input type="search" class="form-control" ng-model="search" placeholder="筛选采购计划...">
      <table width="100%">
        <thead>
          <tr>
            <th></th>
            <th>计划表名称</th>
            <th>计划表编号</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plan in plans | filter: search">
            <td>
              <a href="#/purchase/plan/edit/{{plan.id}}"><i class="fi-eye"></i></a>
            </td>
            <td>{{plan.name}}</td>
            <td>{{plan.invoice}}</td>
            <td class="label radius" ng-class="{alert: plan.status == 'confirmed'}">{{plan.status}}</td>
          </tr>
        </tbody>
      </table>

      <input type="text" name="" id="input" class="form-control" ng-model="new_plan_name" required="required" placeholder="新建计划表名称">

      <button type="button" class="button expand tiny success" ng-click="create_to_plan()">创建计划表</button>

    </div>
  </div>
  <div class="columns large-8">
    <div class="panel">
 
      <div ng-show="!free.length" class="animate-show">暂时没有未加入计划表的申购单明细</div>
      <table width="100%" ng-show="free">
        <thead>
          <tr>
            <th>申购单号</th>
            <th>SKU</th>
            <th>数量</th>
            <th>渠道</th>
            <th>审核时间</th>
            <th>审核人</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plan in free | filter: search" ng-class="{success: plan.status == 'confirmed'}">
            <td><a href="javascript:;" pr-view rid="plan.request.id">{{plan.request.invoice}}</a></td>
            <td><filter key="itemlist" id="plan.item_id" field="sku"></filter></td>
            <td>{{plan.qty}}</td>
            <td><filter key="platformlist" id="plan.platform_id"></filter></td>
            <td>{{plan.request.verified_at}}</td>
            <td><filter key="userlist" id="plan.request.verified_agent"></filter></td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="button tiny success" ng-show="free" ng-click="add_to_plan()"><i class="fi-arrow-left"></i> 添加到当前计划表</button>
    </div>

  </div>
</div>