<div class="row">
  <div class="columns large-12">
    <div class="panel">
      <h3 class="panel-title">采购计划{{plan.name}}[{{plan.invoice}}] By {{plan.user.email}}</h3>


      <form name="editForm" class="">
        <div class="row">
          <div class="columns medium-4">
            <div class="form-group" ng-class="{'error': editForm.name.$invalid}">
              <label>name</label>
              {{plan.plan}}
              <input type="text" name="name" ng-model="plan.name" class="form-control" required>
              <span ng-show="editForm.name.$error.required" class="help-inline">Required</span>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="form-group" ng-class="{'error': editForm.invoice.$invalid}">
              <label>Invoice</label>
              <input type="text" name="invoice" ng-model="plan.invoice" class="form-control" readonly="readonly" required>
              <span ng-show="editForm.invoice.$error.required" class="help-inline">Required</span>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="form-group" ng-class="{'error': editForm.status.$invalid}">
              <label>status</label>
              <input type="text" name="status" ng-model="plan.status" class="form-control" readonly="readonly" required>
              <span ng-show="editForm.status.$error.required" class="help-inline">Required</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns medium-12">
            <div class="form-group" ng-class="{'error': editForm.warehouse.$invalid}">
              <div class="btn-group">
                <button class="button tiny secondary" ng-repeat="wh in whlist" ng-model="plan.warehouse[wh.id]" btn-checkbox ng-class="{'success': plan.warehouse[wh.id]}">{{wh.name}}</button>
              </div>
              <span ng-show="editForm.warehouse.$error.required" class="help-inline">Required</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns medium-6">
            <li class="button tiny secondary" ng-model="plan.transportation.air" btn-checkbox ng-class="{'alert': plan.transportation.air}">AIR</li>
            <li class="button tiny secondary" ng-model="plan.transportation.sea" btn-checkbox ng-class="{'success': plan.transportation.sea}">SEA</li>
          </div>
          <div class="col col-sm-6">
            
          </div>
        </div>

        <div class="row">
          <div class="columns medium-12">
            <a class="button tiny secondary" href="#/purchase/plan">返回</a>
            <button type="button" class="button tiny" ng-show="canModify()" ng-disabled="isClean()" ng-click="save()">保存采购计划</button>
            <button type="button" class="button tiny" ng-show="canModify()" ng-disabled="!isClean()" ng-click="confirm()">确认采购计划</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="row" ng-show="free">
  <div class="columns large-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-compressed"></i> 未列入计划表的申购单明细</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <div ng-show="!free.length" class="animate-show">暂时没有未加入计划表的申购单明细</div>
          <table width="100%" ng-show="free">
            <thead>
              <tr>
                <th>申购单号</th>
                <th>SKU</th>
                <th>数量</th>
                <th>渠道</th>
                <th>审核时间</th>
                <th>审核人</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="plan in free | filter: search" ng-class="{success: plan.status == 'confirmed'}">
                <td><a href="javascript:;" pr-view rid="plan.request.id">{{plan.request.invoice}}</a></td>
                <td>{{plan.item.sku}}</td>
                <td>{{plan.qty}}</td>
                <td>{{plan.platform.abbreviation}}</td>
                <td>{{plan.request.verified_at}}</td>
                <td>{{plan.request.reviewer.email}}</td>
              </tr>
            </tbody>
          </table>

          <button type="button" class="button success tiny" ng-show="free" ng-click="add_to_plan()">  添加到当前计划表</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <form name="planForm" class="form-inline">
      <div class="table-responsive">
        <table width="100%">
          <thead>
            <tr>
              <th>SKU</th>
              <th>申购数量</th>
              <th>库存余量</th>
              <th>已下单量</th>
              <th>修改变更</th>
              <th ng-repeat="cw in cwlist" ng-show="plan.transportation[cw.transportation] && plan.warehouse[cw.id]" class="" ng-class="{'sea': 'success', 'air': 'alert', 'surface': 'warning'}[cw.transportation]">
                {{cw.name}}-{{cw.transportation}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="detail in summary">
              <td><span class="label" tooltip="{{detail.item.status}}:{{detail.item.description}}">{{detail.item.sku}}</span></td>
              <td>
                <span class="label warning">{{detail.request_qty*1 + delta(detail.item_id)}}</span>
              </td>
              <td>
                <span class="label warning">0</span>
              </td>
              <td>
                <span class="label warning">0</span>
              </td>
              <td>
                <span class="label warning">{{delta(detail.item_id)}}</span>
              </td>
              <td ng-repeat="cw in cwlist" ng-show="plan.transportation[cw.transportation] && plan.warehouse[cw.id]" ng-class="{'sea': 'success', 'air': 'danger', 'surface': 'warning'}[cw.transportation]">
                <div class="form-group has-feedback" class="label" ng-class="{'warning': isDirty(detail.item_id, cw.name, cw.transportation)}">
                  <input type="text" 
                    name="detail[{{cw.id}}][{{cw.transportation}}]" 
                    ng-model="detail[cw.name + '-' + cw.transportation]" 
                    class="form-control tiny" 
                    valid-number 
                    tooltip="{{persistent[detail.item_id][cw.name + '-' + cw.transportation]}}" 
                    ng-readonly="persistent[detail.item_id][cw.name + '-' + cw.transportation] == 0">
                  <span class="glyphicon glyphicon-pencil form-control-feedback" ng-show="isDirty(detail.item_id, cw.name, cw.transportation)"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

<div class="row" ng-show="changes">
  <div class="columns large-12">
  <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">计划修改明细</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <table width="100%">
            <thead>
              <th>SKU</th>
              <th>渠道</th>
              <th>FROM</th>
              <th>TO</th>
              <th>备注</th>
            </thead>
            <tbody>
              <tr ng-repeat="change in changes">
                <td>{{change.sku}}</td>
                <td>{{change.platform}}</td>
                <td>{{change.from}}</td>
                <td>{{change.to}}</td>
                <td>{{change.note}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  </div>
</div>