<fieldset>
  <legend>申购单列表</legend>
  <div class="row">
    <div class="columns medium-4">
      <input type="text" ng-model="searchModel.invoice"
                          class="form-control" placeholder="申购单编号">
    </div>
    <div class="columns medium-4">
      <input type="text" name="sku" ng-model="searchModel.sku" id="sku"
                          class="form-control"
                          typeahead="i.sku as i.sku for i in skus | filter:{sku: $viewValue} | limitTo:10"
                          placeholder="相关SKU">
    </div>
    <div class="columns medium-4">
      <input type="text" ng-model="searchModel.relation_id"
                          class="form-control" placeholder="相关订单编号">
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <select name="warehouse" class="form-control"
                          ng-model="searchModel.warehouse"
                          ng-options="w.id as w.name for w in warehouses" required>
                          <option value="">--目标仓库--</option>
                        </select>
    </div>
    <div class="columns medium-4">
      <select name="status" class="form-control"
                          ng-model="searchModel.status"
                          ng-options="w.id as w.name for w in status" required>
                          <option value="">--申购单状态--</option>
                        </select>
    </div>
    <div class="columns medium-4">
      <select name="type" class="form-control"
                          ng-model="searchModel.type"
                          ng-options="w.id as w.name for w in types" required>
                          <option value="">--申购单类型--</option>
                        </select>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <button class="button tiny" ng-click="toFilter()"><i class="fi-zoom"></i>搜索</button>
      <button class="button tiny" ng-click="toExport()">导出</button>
      <button class="button tiny success" ng-click="toCreate()">新建申购单</button>
    </div>
  </div>
</fieldset>

<table width="100%" ng-show="requests">
  <thead>
    <tr>
      <th></th>
      <th>申购单编号</th>
      <th>渠道</th>
      <th title="需求仓库">目的仓</th>
      <th>类型</th>
      <th title="需求订单">关联ID</th>
      <th>状态</th>
      <th>提单人</th>
      <th>最后修改</th>
      <th>审核过期</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="request in requests">
      <td>
        <!-- 查看 -->
        <a title="查看" data-toggle="tooltip" data-original-title="查看" href="javascript:;" pr-view rid="request.id"><i class="fi-eye"></i></a>
        <!-- 修改 -->
        <a title="修改 " data-toggle="tooltip" data-original-title="修改" href="#/purchase/request/edit/{{request.id}}" ng-show="request.status =='pending'"><i class="fi-pencil"></i></a>
        <!-- 确认 -->
        <a title="确认 " data-toggle="tooltip" data-original-title="确认 " href="javascript:;" ng-click="confirm(request.id)" ng-show="request.status =='pending'"><i class="fi-check"></i></a>
        <!-- 取消确认 -->
        <a title="取消确认" data-toggle="tooltip" data-original-title="取消确认 " href="javascript:;" ng-click="unconfirm(request.id)" ng-show="request.status =='confirmed'"><i class="fi-refresh"></i></a>               
        <!-- 删除 -->
        <a title="删除 " data-toggle="tooltip"  data-original-title="删除" href="javascript:;" ng-show="request.status =='pending'" ng-click="destory(request.id)"><i class="fi-trash" style="color: red;"></i></a>
      </td>
      <td>{{request.invoice}}</td>
      <td><filter key="platformlist" id="request.platform_id"></filter></td>
      <td title="需求仓库"><filter key="whlist" id="request.warehouse_id"></filter></td>
      <td>{{request.type}}</td>             
      <td title="需求的Order ID">{{request.relation_id}}</td>
      <td>
        <b class="text" data-toggle="tooltip" data-original-title="{{request.verified_note}}" ng-class="{'text-success':request.status=='verified','text-danger':request.status=='rejected'}" ng-show="(request.status=='verified'||request.status=='rejected')">{{request.status}}</b>
        <b ng-show="(request.status!='verified'&&request.status!='rejected')">{{request.status}}</b>
      </td>
      <td><filter key="userlist" id="request.agent"></filter></td>
      <td>{{request.updated_at}}</td>
      <td ng-class="{'danger':isExpired(request),'warning':isToExpiring(request)}">{{request.expired_at}}</td>
    </tr>
  </tbody>
</table>

<div id="createPanel" class="reveal-modal" data-reveal>
  <h5>新建申购单</h5>
  <form name="creatingForm">
  <div class="row">
    <div class="columns medium-4">
      <label>申请渠道</label>
      <select name="platform" class="form-control" ng-model="creating.platform" ng-options="p.id as p.name for p in platforms" required></select> 
    </div>
    <div class="columns medium-4">
      <label>目的仓</label>
      <select name="warehouse_id" ng-model="creating.warehouse_id" class="form-control" required ng-options="wh.id as wh.name for wh in warehouses"></select>
    </div>
    <div class="columns medium-4">
      <label class="control-label">审核过期时间</label>
      <input name="expired_at" type="text" class="form-control" jquery-ui-datepicker ng-model="creating.expired_at" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
    </div>
  </div>
  <div class="row">
    <div class="columns medium-4">
      <label>类型</label>
      <select name="type" class="form-control" ng-model="creating.type" ng-options="t.name as t.name for t in types" required ng-change="change()"></select> 
    </div>
    <div class="columns medium-4">
      <label>关联ID</label>
      <input type="text" name="relation_id" ng-model="creating.relation_id" ng-pattern="/^\d{1,16}$/" class="form-control" required ng-disabled="creating.type=='Shipment' || creating.type=='Local'">
    </div>
    <div class="columns medium-4">
      <label>状态</label>
      <select name="status" ng-model="creating.status" class="form-control" ng-options="s.name as s.name for s in status" required disabled></select>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <label>申购单编号</label>
      <input type="text" name="invoice" ng-model="creating.invoice" class="form-control" required readonly>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <label>备注</label>
      <textarea name="note" class="form-control" ng-model="creating.note"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <button type="button" class="button tiny success" ng-click="save()" ng-disabled="creatingForm.$invalid">创建</button>
    </div>
  </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
