<h3>查看申购单明细</h3>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>

<input type="search" class="form-control" ng-model="searchText" placeholder="Search">

<table width="100%">
  <thead>
    <tr>
      <th>SKU</th>
      <th>渠道</th>
      <th>需求数量</th>
      <th>ETA</th>
      <th>运费方式</th>
      <th>估算运费</th>


    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="detail in request.details | filter:searchText">
      <td>{{detail.item.sku}}</td>
      <td>{{detail.platform.name}}</td>
      <td>{{detail.qty}}</td>
      <td>{{detail.end_date}}</td>
      <td>{{detail.transportation}}</td>
      <td>
        <label>
          <b class="text-info">{{detail.item.fee.sea_cost | number}}</b>
          /
          <b class="text-danger">{{ detail.item.fee.air_cost | number}}</b>
        </label>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal-footer" ng-show="operaType!='readonly'">
  <button type="button" class="btn success" data-dismiss="modal"  ng-show="request.status == 'confirmed'" ng-click="pass();">确认通过</button>
  <button type="button" class="btn danger" data-dismiss="modal" ng-show="request.status == 'confirmed'" ng-click="reject();">确认拒绝</button>
</div>

