<input type="search" class="form-control" ng-model="search" placeholder="输入需要搜索的申购单" style="margin-bottom: 10px">

<tabset>
  <tab heading="待审核">

      <table width="100%">
        <thead>
          <tr>
            <th>查看</th>
            <th>Invoice</th>
            <th>目的仓</th>
            <th>类型</th>
            <th>提单者</th>
            <th>距审核日期</th>
            <th>状态</th>
            <!-- <th>操作</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in requests | filter: search"
            ng-show="request.status=='confirmed'">
            <td>
              <a href="javascript:;" ng-click="showDetail(request.id,'all')" data-original-title="查看"
                data-toggle="tooltip" title="">
                <i class="fi-eye"></i>
              </a>
            </td>
            <td>{{request.invoice}}</td>
            <td>{{request.warehouse_id | warehouse}}</td>
            <td>{{request.type}}</td>
            <td>{{request.agent | agent }}</td>
            <td>
              尚余
              <timer end-time="request.expired_at | timer">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
            </td>
            <td>{{request.status}}</td>
<!--                     <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-success"
                  id="dsafsd" ng-click="stepToCheck(request.id,'approve')">
                  <i class="glyphicon glyphicon-ok"></i>
                  通过
                </button>
                <button type="button" class="btn btn-xs btn-danger"
                  ng-click="stepToCheck(request.id,'reject')">
                  <i class="glyphicon glyphicon-remove"></i>
                  拒绝
                </button>

              </div>
            </td> -->
          </tr>
        </tbody>
      </table>

  </tab>

  <tab heading="审核通过">

      <table width="100%">
        <thead>
          <tr>
            <th>查看</th>
            <th>Invoice</th>
            <th>目的仓</th>
            <th>类型</th>
            <th>提单者</th>
            <th>审核备注</th>
            <th>审核时间</th>
            <th>审核人</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in requests | filter: search"
            ng-show="request.status=='verified'">

            <td>
              <a href="javascript:;" ng-click="showDetail(request.id,'readonly')" data-original-title="查看"
                data-toggle="tooltip" title="">
                <i class="fi-eye"></i>
              </a>
            </td>
            <td>{{request.invoice}}</td>
            <td>{{request.warehouse_id | warehouse}}</td>
            <td>{{request.type}}</td>
            <td>{{request.agent | agent}}</td>
            <td>{{request.verified_note}}</td>
            <td>{{request.verified_at}}</td>
            <td>{{request.verified_agent | agent}}</td>
          </tr>
        </tbody>
      </table>

  </tab>

  <tab heading="审核拒绝">
    <table width="100%">
      <thead>
        <tr>
          <th>查看</th>
          <th>Invoice</th>
          <th>目的仓</th>
          <th>类型</th>
          <th>提单者</th>
          <th>审核备注</th>
          <th>审核时间</th>
          <th>审核人</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests | filter: search"
          ng-show="request.status=='rejected'">

          <td>
            <a href="javascript:;" ng-click="showDetail(request.id,'readonly')" data-original-title="查看"
              data-toggle="tooltip" title="">
              <i class="fi-eye"></i>
            </a>
          </td>
          <td>{{request.invoice}}</td>
          <td>{{request.warehouse_id | warehouse}}</td>
          <td>{{request.type}}</td>
          <td>{{request.agent }}</td>
          <td>{{cutStr(request.verified_note,12,'....')}}</td>
          <td>{{request.verified_at}}</td>
          <td>{{request.verified_agent}}</td>
        </tr>

      </tbody>
    </table>
  </tab>

  <tab heading="已过期">
    <table width="100%">
      <thead>
        <tr>
          <th>查看</th>
          <th>Invoice</th>
          <th>目的仓</th>
          <th>类型</th>
          <th>提单者</th>
          <th>过期审核</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests | filter: search"
          ng-show="request.status=='expired'">
          <td>
            <a href="javascript:;" ng-click="showDetail(request.id,'readonly')" data-original-title="查看"
              data-toggle="tooltip" title="">
              <i class="fi-eye"></i>
            </a>
          </td>
          <td>{{request.invoice}}</td>
          <td>{{request.warehouse_id | warehouse}}</td>
          <td>{{request.type}}</td>
          <td>{{request.agent}}</td>
          <td>
            <font>已过期</font>
            <span style="color: #f00">
              <timer start-time="request.expired_at | timer">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
            </span>
          </td>
          <td>
        </tr>

      </tbody>
    </table>
  </tab>

  <tab heading="特殊修改" disabled="true">

  </tab>
</tabset>