<div class="row">
  <div class="col col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">申购单管理</h3>
      </div>
      <div class="panel-body" style="position: relative">
        <form name="editForm" class="" >

          <div class="container-fluid">
            <div class="row">
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.invoice.$invalid}">
                  <label class="control-label">申购单编号</label>
                  <input type="text" name="invoice" ng-model="request.invoice" class="form-control" required ng-disabled="request.status!='pending'">
                  <span ng-show="editForm.invoice.$error.required" class="help-inline">Required</span>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.type.$invalid}">
                  <label class="control-label">类型</label>
                  <select name="type" class="form-control" ng-model="request.type" ng-options="t.name as t.name for t in types" required ng-disabled="request.status!='pending'" ng-change="change()"></select>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.warehouse_id.$invalid}">
                  <label class="control-label">目的仓</label>
                  <select name="warehouse_id" ng-model="request.warehouse_id" class="form-control" required ng-options="wh.id as wh.name for wh in whs" ng-disabled="request.status!='pending'"></select>
                  <span ng-show="editForm.warehouse_id.$error.required" class="help-inline">Required</span>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.relation_id.$invalid}">
                  <label class="control-label">关联ID</label>
                  <input type="text" name="relation_id" ng-model="request.relation_id" ng-pattern="/^\d{1,16}$/" class="form-control" required ng-disabled="request.status!='pending' || request.type=='Shipment' || request.type=='Local'">
                  <span ng-show="editForm.relation_id.$error.required" class="help-inline">Required</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.status.$invalid}">
                  <label class="control-label">状态</label>
                  <select name="status" ng-model="request.status" class="form-control" ng-options="s.name as s.name for s in status" required disabled></select>
                  <span ng-show="editForm.status.$error.required" class="help-inline">Required</span>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group">
                  <label class="control-label">提单人</label>
                  <input type="text" name="agent" ng-model="request.user.email" class="form-control" readonly>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.created_at.$invalid}">
                  <label class="control-label">创建时间</label>
                  <input type="text" name="created_at" ng-model="request.created_at" class="form-control" readonly>
                </div>
              </div>
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.updated_at.$invalid}">
                  <label class="control-label">修改时间</label>
                  <input type="text" name="updated_at" ng-model="request.updated_at" class="form-control" readonly>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col col-sm-3">
                <div class="form-group" ng-class="{'has-error': editForm.expired_at.$invalid||checkExpiredAt(request.expired_at) }">
                  <label class="control-label">审核过期时间</label>
                  <p class="input-group">
                    <input name="expired_at" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="request.expired_at" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <span ng-show="editForm.expired_at.$error.required" class="help-inline">Required Or Already expired</span>
                </div>
              </div>
              <div class="col col-sm-8">
                <div class="form-group" ng-class="{'has-error': editForm.note.$invalid}">
                  <label class="control-label">备注</label>
                  <textarea name="note" class="form-control" ng-model="request.note" ng-disabled="request.status!='pending'"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-12">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th ng-show="request.status=='pending'" data-toggle="tooltip" title="添加一条新的需求明细"><a href="javascript:;" ng-click="details_new()"><i class="glyphicon glyphicon-plus"></i></a></th>
                      <th data-toggle="tooltip" title="所需产品的SKU">SKU</th>
                      <th data-toggle="tooltip" title="需求所属渠道">渠道</th>
                      <th data-toggle="tooltip" title="需要的数量">需求量</th>
                      <th data-toggle="tooltip" title="期望到货日期">ETA</th>
                      <th data-toggle="tooltip" title="估算的运费[空运/海运]">估算运费</th>
                      <th data-toggle="tooltip" title="需求产品的最小装箱数">MPQ</th>
                      <th data-toggle="tooltip" title="运输方式">运输方式</th>
                      <th data-toggle="tooltip" title="需求备注">备注</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="detail in request.details" ng-class="{success: detail.request_id}">

                      <td ng-show="request.status=='pending'">
                        <a href="javascript:;" ng-click="details_edit($index)" ng-show="!detail.request_id || request.status=='pending'"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="javascript:;" ng-click="details_remove($index)" ng-show="!detail.request_id || request.status=='pending'"><i class="glyphicon glyphicon-remove"></i></a>
                      </td>
                      <td>
                        <ng-form name="skuForm">
                        <div class="form-group" ng-class="{'has-error': skuForm.sku.$invalid}" tooltip="{{detail.item.description}}">
                          <input type="text" name="sku" ng-model="detail.item" class="form-control input-sm" typeahead-on-select="afterChangeItem()" required typeahead="sku as sku.sku for sku in skus | filter:{sku: $viewValue} | limitTo: 10" typeahead-editable='false'>
                          <span ng-show="skuForm.sku.$error.required" class="help-inline">Required</span>
                        </div>
                        </ng-form>
                      </td>
                      <td>
                        <ng-form name="platformForm">
                        <div class="form-group" ng-class="{'has-error': platformForm.channel.$invalid}">
                        <select type="text" name="channel" ng-model="detail.platform_id" class="form-control input-sm" required ng-options="c.id as c.name for c in platforms"></select>
                          <span ng-show="platformForm.channel.$error.required" class="help-inline">Required</span>
                        </div>
                        </ng-form>
                      </td>
                      <td>
                        <ng-form name="loopForm" class="form-inline">
                        <div class="form-group" ng-class="{'has-error': loopForm.qty.$invalid}">
                          <input type="text" name="qty" ng-model="detail.qty" ng-pattern="/^[0-9]+$/" class="form-control input-sm" ng-disabled="request.status!='pending'">
                        </div>                        
                      </ng-form>
                      </td> 
                      <td>
                        <ng-form name="etaForm">
                        <div class="form-group" ng-class="{'has-error': etaForm.end_date.$invalid}">
                          <p class="input-group">
                            <input name="end_date" type="text" class="form-control input-sm" ng-model="detail.end_date" is-open="opened" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                              <!-- <button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button> -->
                            </span>
                          </p>
                          <span ng-show="etaForm.end_date.$error.required" class="help-inline">Required</span>
                        </div>
                        </ng-form>

                      </td>
                      <td>
                        <!-- 这里需要一个计算方式 -->
                        <label>
                          <b class="text-info">{{ detail.item.fee.sea_cost | currency}}</b>/
                          <b class="text-danger">{{ detail.item.fee.air_cost | currency}}</b>
                        </label>
                      </td>
                      <td>{{detail.item.spq.spq}}</td>
                      <td>
                      <div class="form-group" ng-class="{'has-error': loopForm.transportation.$invalid}">
                        <select type="text" name="transportation" ng-model="detail.transportation" class="form-control input-sm" required ng-options="t.name as t.name for t in trans" ng-disabled="request.status!='pending'" ng-readonly="detail.request_id"></select>
                      </div></td>
                      <td>{{detail.note}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <a class="btn btn-default" href="#/purchase/request">返回</a>
            <button type="button" class="btn btn-primary" ng-click="update()" ng-disabled="isClean() || editForm.$invalid" ng-show="request.status=='pending'">
              Save
            </button>
            <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="editForm.$invalid" ng-show="request.status=='pending' && ! brand">
              confirm
            </button>
            <button type="button" class="btn btn-primary" ng-click="unconfirm()" ng-show="request.status=='confirmed' && ! brand">
              unconfirm
            </button>
            <button type="button" class="btn btn-danger" ng-click="destroy()" ng-show="request.status == 'pending' && ! brand">
              Delete
            </button>
        </form>

      </div>
<!--       <div ng-controller="uploadCtrl" style="position:absolute;bottom:15px;right:0px"  ng-show="request.status=='pending'">
          <input type="hidden" name="request_id" value="{{request_id}}">
        <p> <a href="/api/purchase/template" class="btn btn-info btn-xs" style="display:block;float:left">模板下载</a> <input type="file" ng-file-select="onFileSelect($files,request.id)" ></p>
      </div> -->
    </div>
  </div>
</div>
</div>
<!-- Model -->
<div class="modal fade" id="request_edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">Add Purchase Request Detail</h4>
      </div>
      <div class="modal-body">
        <form name="detailForm" class="">
          <div class="container-fluid">
            <div class="row">
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.sku.$invalid || !isSkuCanBeUsed}">
                  <label class="control-label">SKU<small>{{skuCanBeUsedReason}}</small></label>
                  <input type="text" name="sku" ng-model="holder_detail.item" class="form-control" typeahead-on-select="afterChangeItem()" required typeahead="sku as sku.sku for sku in skus | filter:{sku: $viewValue} | limitTo: 10" typeahead-editable='false'>
                  <span ng-show="detailForm.sku.$error.required" class="help-inline">Required</span>
                </div>
              </div>
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.channel.$invalid}">
                  <label class="control-label">渠道</label>
                  <select type="text" name="channel" ng-model="holder_detail.platform" class="form-control" required ng-options="c.name for c in platforms"></select>
                  <span ng-show="detailForm.channel.$error.required" class="help-inline">Required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.qty.$invalid}">
                  <label class="control-label">需求量</label>
                  <input type="text" name="qty" ng-model="holder_detail.qty" ng-pattern="/^[0-9]+$/" class="form-control" required>
                  <span ng-show="detailForm.qty.$error.required" class="help-inline">Required</span>
                </div>
              </div>  
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.end_date.$invalid}">
                  <label class="control-label" data-toggle="tooltip" title="黄色为空运允许时间段,蓝色为海运时间段,产品交期默认(不存在或者未选定时)为5天,默认审核需要时间为两天">ETA</label>
                  <input type="text" datepicker-popup="yyyy-MM-dd" name="end_date" datepicker-options="{name:1}" min="min_d" max="max_d" airtime-min="airTimeStart" airtime-max="airTimeEnd"  seatime-min="seaTimeStart" seatime-max="seaTimeEnd" ng-model="holder_detail.end_date" class="form-control" required>
                  <span ng-show="detailForm.end_date.$error.required" class="help-inline">Required</span>
                </div>
              </div>            
            </div>
            <div class="row">
              
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.note.$invalid}">
                  <label class="control-label">备注</label>
                  <textarea name="note" ng-model="holder_detail.note" class="form-control"></textarea>
                </div>
              </div>
              <div class="col col-sm-6">
                <p>
                  ps:申购提交后,一般会在周三进行审核(黄色为空运允许时间段,蓝色为海运时间段)                  
                  <span>当前ETA运输方式:<b class="text-warning">{{getTransportation()}}</b>当前产品交期为:{{lTimeDays}}天(默认5天)</span>
                  <span>当前eta运费:海运<b class="text-info">{{ holder_detail.item.fee.sea_cost | currency}}</b>&nbsp; 空运<b  class="text-danger">{{ holder_detail.item.fee.air_cost | currency}}</b></span>
                </p>
              </div>
            </div>
            <!--div class="row">
            </div>
            <div class="row">

            </div-->
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="holder_push()" ng-show="btn_add_show" ng-disabled="detailForm.$invalid || !isSkuCanBeUsed">
          Add
        </button>
        <button type="button" class="btn btn-primary" ng-click="holder_push()" ng-show="!btn_add_show" ng-disabled="detailForm.$invalid || !isSkuCanBeUsed">
          Update
        </button>
      </div>
    </div>
  </div>

</div>



<script type="text/ng-template" id="requestDetail.html">
  <div class="modal-header">
      <h3 class="modal-title">申购单明细</h3>
  </div>
  <div class="modal-body">
      <form name="detailForm" class="">
          <div class="container-fluid">
            <div class="row">
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.sku.$invalid}">
                  <label class="control-label">SKU<small>{{skuCanBeUsedReason}}</small></label>
                  <input type="text" name="sku" ng-model="holder_detail.item" class="form-control" typeahead-on-select="afterChangeItem()" required typeahead="sku as sku.sku for sku in skus | filter:{sku: $viewValue} | limitTo: 10" typeahead-editable='false'>
                  <span ng-show="detailForm.sku.$error.required" class="help-inline">Required</span>
                </div>
              </div>
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.channel.$invalid}">
                  <label class="control-label">渠道</label>
                  <select type="text" name="channel" ng-model="holder_detail.platform" class="form-control" required ng-options="c.name for c in platforms"></select>
                  <span ng-show="detailForm.channel.$error.required" class="help-inline">Required</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.qty.$invalid}">
                  <label class="control-label">需求量</label>
                  <input type="text" name="qty" ng-model="holder_detail.qty" valid-number class="form-control" required>
                  <span ng-show="detailForm.qty.$error.required" class="help-inline">Required</span>
                </div>
              </div>  
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.end_date.$invalid}">
                  <p class="input-group">
                  <label class="control-label" data-toggle="tooltip" title="黄色为空运允许时间段,蓝色为海运时间段,产品交期默认(不存在或者未选定时)为5天,默认审核需要时间为两天">ETA</label>
                    <input name="end_date" type="text" class="form-control" ng-model="holder_detail.end_date" is-open="opened" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <input type="text" name="end_date" datepicker-options="{name:1}" min="min_d" max="max_d" airtime-min="airTimeStart" airtime-max="airTimeEnd"  seatime-min="seaTimeStart" seatime-max="seaTimeEnd" ng-model="holder_detail.end_date" class="form-control" required>
                  <span ng-show="detailForm.end_date.$error.required" class="help-inline">Required</span>
                </div>
              </div>            
            </div>
            <div class="row">
              
              <div class="col col-sm-6">
                <div class="form-group" ng-class="{'has-error': detailForm.note.$invalid}">
                  <label class="control-label">备注</label>
                  <textarea name="note" ng-model="holder_detail.note" class="form-control"></textarea>
                </div>
              </div>
              <div class="col col-sm-6">
                <p>
                  ps:申购提交后,一般会在周三进行审核(黄色为空运允许时间段,蓝色为海运时间段)                  
                  <span>当前ETA运输方式:<b class="text-warning">{{getTransportation()}}</b>当前产品交期为:{{lTimeDays}}天(默认5天)</span>
                  <span>当前eta运费:海运<b class="text-info">{{ holder_detail.item.fee.sea_cost | currency}}</b>&nbsp; 空运<b  class="text-danger">{{ holder_detail.item.fee.air_cost | currency}}</b></span>
                </p>
              </div>
            </div>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="holder_push()" ng-show="btn_add_show" ng-disabled="detailForm.$invalid || !isSkuCanBeUsed">
      增加
    </button>
    <button type="button" class="btn btn-primary" ng-click="holder_push()" ng-show="!btn_add_show" ng-disabled="detailForm.$invalid || !isSkuCanBeUsed">
      修改
    </button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">取消</button>
  </div>
</script>
