<fieldset>
  <legend>申购单修改</legend>
  <div class="row">
    <div class="columns medium-4">
      <label>申购单编号</label>
      <input type="text" name="invoice" ng-model="request.invoice" class="form-control" required ng-disabled="request.status!='pending'">
    </div>
    <div class="columns medium-4">
      <label>类型</label>
      <select name="type" class="form-control" ng-model="request.type" ng-options="t.name as t.name for t in types" required ng-disabled="request.status!='pending'" ng-change="change()"></select> 
    </div>
    <div class="columns medium-4">
      <label>目的仓</label>
      <select name="warehouse_id" ng-model="request.warehouse_id" class="form-control" required ng-options="wh.id as wh.name for wh in whs" ng-disabled="request.status!='pending'"></select>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <label>关联ID</label>
      <input type="text" name="relation_id" ng-model="request.relation_id" ng-pattern="/^\d{1,16}$/" class="form-control" required ng-disabled="request.status!='pending' || request.type=='Shipment' || request.type=='Local'">
    </div>
    <div class="columns medium-4">
      <label>状态</label>
      <select name="status" ng-model="request.status" class="form-control" ng-options="s.name as s.name for s in status" required disabled></select>
    </div>
    <div class="columns medium-4">
     <label>提单人</label>
     <input type="text" name="agent" ng-model="request.user.email" class="form-control" readonly> 
    </div>
  </div>

  <div class="row">
    <div class="columns medium-4">
      <label class="control-label">创建时间</label>
          <input type="text" name="created_at" ng-model="request.created_at" class="form-control" readonly>
    </div>
    <div class="columns medium-4">
      <label class="control-label">修改时间</label>
          <input type="text" name="updated_at" ng-model="request.updated_at" class="form-control" readonly>
    </div>
    <div class="columns medium-4">
      <label class="control-label">审核过期时间</label>
      <input name="expired_at" type="text" class="form-control" jquery-ui-datepicker ng-model="request.expired_at" min-date="minDate" max-date="'2015-06-22'" ng-required="true" close-text="Close" />
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <label>备注</label>
      <textarea name="note" class="form-control" ng-model="request.note" ng-disabled="request.status!='pending'"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-12">
      <a class="button tiny secondary" href="#/purchase/request/list">返回</a>
      <button type="button" class="button tiny success" ng-click="update()" ng-disabled="isClean() || editForm.$invalid" ng-show="request.status=='pending'">Save</button>
      <button type="button" class="button tiny" ng-click="confirm()" ng-disabled="editForm.$invalid" ng-show="request.status=='pending' && ! brand">confirm</button>
      <button type="button" class="button tiny" ng-click="unconfirm()" ng-show="request.status=='confirmed' && ! brand">unconfirm</button>
      <button type="button" class="button tiny info" ng-click="reset()" ng-disabled="isClean()" ng-show="! brand">Reset</button>
      <button type="button" class="button tiny alert" ng-click="destroy()" ng-show="request.status == 'pending' && ! brand">Delete</button>

      <batch-upload label="批量上传明细" action="purchase-request" title="批量上传申购单明细" params="{id: request.id}" callback="loadDetails" ng-show="request.status == 'pending'"></batch-upload>
    </div>
  </div>
</fieldset>

<table width="100%">
  <thead>
    <tr>
      <th ng-show="request.status=='pending'"><a href="javascript:;" tooltip="添加一条新的需求明细" ng-click="details_new()"><i class="fi-plus"></i></a></th>
      <th><span tooltip="所需产品的SKU">SKU</span></th>
      <th><span tooltip="需求所属渠道">渠道</span></th>
      <th><span tooltip="需要的数量">需求量</span></th>
      <th><span tooltip="期望到货日期">ETA</span></th>
      <th><span tooltip="估算的运费[空运/海运]">估算运费</span></th>
      <th><span tooltip="需求产品的最小装箱数">MPQ</span></th>
      <th><span tooltip="运输方式">运输方式</span></th>
      <th><span tooltip="需求备注">备注</span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="detail in details" ng-class="{success: detail.request_id}" ng-form="detailForm">

      <td ng-show="request.status=='pending'">
        <a href="javascript:;" class="button tiny" ng-show="detailForm.$dirty" ng-click="detail_save(detail, detailForm)">保存</a> 
        <a href="javascript:;" class="button tiny secondary" ng-show="detailForm.$dirty" ng-click="detail_reset(detail, detailForm)">取消</a>
        <a href="javascript:;" ng-click="details_remove(detail)" ng-show="request.status=='pending' && detailForm.$pristine"><i class="fi-trash" style="color: red;"></i></a>
      </td>
      <td width="140">
        <div class="form-group" tooltip="{{detail.item.description}}">
          <input type="text" name="sku" ng-model="detail.item" ng-class="{'error': detailForm.sku.$invalid}" required typeahead="sku as sku.sku for sku in skus | filter:{sku: $viewValue} | limitTo: 10" typeahead-editable='false' ng-disabled="request.status!='pending'" />
          <span ng-show="detailForm.sku.$error.required" class="error">Required</span>
        </div>
      </td>
      <td>
        <div class="form-group" >
        <select type="text" name="channel" ng-model="detail.platform_id" ng-class="{'error': detailForm.channel.$invalid}" required ng-options="c.id as c.name for c in platforms" ng-disabled="request.status!='pending'" /></select>
          <span ng-show="detailForm.channel.$error.required" class="error">Required</span>
        </div>
      </td>
      <td width="80">
        <div class="form-group" >
          <input type="text" name="qty" ng-model="detail.qty" ng-class="{'error': detailForm.qty.$invalid}" ng-disabled="request.status!='pending'" valid-number required>
          <span ng-show="detailForm.qty.$error.required" class="error">Required</span>
        </div>                        
      </td> 
      <td width="150">
        <div class="form-group">
          <input name="end_date" type="text" jquery-ui-datepicker ng-class="{'error': detailForm.end_date.$invalid}" ng-model="detail.end_date" min-date="minDate" max-date="'2015-06-22'" required ng-disabled="request.status!='pending'" />
          <span ng-show="detailForm.end_date.$error.required" class="error">Required</span>
        </div>

      </td>
      <td>
        <!-- 这里需要一个计算方式 -->
        <label>
          <b class="text-info">{{detail.item | fee:request.warehouse_id:'sea' | currency}}</b>/
          <b class="text-danger">{{detail.item | fee:request.warehouse_id:'air' | currency}}</b>
        </label>
      </td>
      <td>{{detail.item.spq.spq || '-'}}</td>
      <td>
          <select type="text" name="transportation" ng-model="detail.transportation" ng-class="{'error': transportationForm.transportation.$invalid}" required ng-options="t.name as t.name for t in trans" ng-disabled="request.status!='pending'" ng-readonly="detail.request_id"></select>
      </td>
      <td>
        <div class="form-group" ng-class="{'error': detailForm.note.$invalid}">
          <input type="text" name="note" ng-model="detail.note" class="form-control" ng-disabled="request.status!='pending'">
        </div> 
      </td>

    </tr>
  </tbody>
</table>